//begin header
#header.header.color-section(data-color='#ffffff')
  .container
    .header__logo
      img(src="assets/img/logo.svg" alt="logo")
    .header__text мы с радостью приглашаем вас на нашу свадьбу
    .header__date
      span 01
      span 04
      span 2021
    .header__time 15:00
    .header__hotel отель goodzone
    .header__signature
      img(src="assets/img/signature.svg" alt="Егор и Маша")
    .header__photo
      img(src="assets/img/header-photo.jpg" alt="Егор и Маша")
//end header