block variables-header
  - var sectionSubtitle       = 'важная информация'
  - var sectionTitle = 'Information'
  - var className = 'info'
  - var pic = 'title-info'

//begin schedule
#info.info.color-section(data-color='#ffffff')
  include section-header
  .container
    .info__list
      //begin info__item
      .info__item
        .info__title ЦВЕТЫ
        .info__text
          span Так как свадьба за городом — просим вас дарить цветы только в коробках
          span * Если вам нужна помощь в заказе и доставке цветов - свяжитесь с нашим <a href="#footer" class="scroll-link">организатором</a>
      //end info__item

      //begin info__item
      .info__item
        .info__title заселение
        .info__text
          span Если вам нужно заселиться в гостиницу раньше 13:00 — свяжитесь с нашим <a href=#footer class="scroll-link"> организатором</a>
      //end info__item

      //begin info__item
      .info__item
        .info__title трансфер
        .info__text
          span Мы не планировали общий трансфер к месту торжества
          span * Если вам нужна помощь в том, чтобы добраться в отель — свяжитесь с нашим <a href=#footer class="scroll-link"> организатором</a>
      //end info__item
//end schedule