//begin section-header
div(class="section-header section-header--" + className)
  .container
    .section-header__subtitle #{sectionSubtitle}
    .section-header__title
      img(src="assets/img/" + pic + ".svg" alt="" + sectionTitle)
//end section-header
