*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 10px 0;
}

a {
  transition: all $transition;
  text-decoration: underline;
  color: $link;

  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

svg {
  display: block;
  overflow: visible;
}

.main {
  min-height: 100vh;

  -webkit-overflow-scrolling: touch;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;

  @include max(680) {
    padding: 0 30px;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  height: 54px;
  padding-left: 50px;
  text-decoration: none;
  border: 2px solid #bf9475;

  &:hover {
    span {
      color: #fff;
    }

    &::after {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50px;
    width: 2px;
    height: 50px;
    content: '';
    transition: all $transition;
    background-color: $brand;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 50px;
    width: calc(100% - 50px);
    height: 50px;
    content: '';
    transition: all $transition;
    opacity: 0;
    background-color: $brand;
  }

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    fill: $brand;
    width: 16px;
    height: 16px;
    margin: auto;
    transition: all $transition;
  }

  span {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 23px;
    transition: all $transition;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}
