@font-face {
  font-family: SaintAmour-Regular;
  src:  url('../fonts/SaintAmour-Regular.woff2') format('woff2'),
        url('../fonts/SaintAmour-Regular.woff')  format('woff');
}

@font-face {
  font-family: Century-Schoolbook;
  src:  url('../fonts/Century-Schoolbook.woff2') format('woff2'),
        url('../fonts/Century-Schoolbook.woff')  format('woff');
}
