// ===== main colors =====
$brand: #BF9475;

// ===== text colors =====
$text: #141414;

// ===== link colors =====
$link: #BF9475;

// ===== transition =====
$transition: .5s ease-in-out;

// ===== fonts =====
$font:  'Century-Schoolbook', serif;
$title: 'SaintAmour-Regular', sans-serif;


